body {
  background-color: rgb(20, 20, 20);
  margin: 0px;
  color: white;
  overflow-x: hidden;
  font-family: 'Noto Sans';
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
  color: inherit;
}
.container {
  height: 100vh;
  width: 100vh;
  margin-left: 20vw;
  margin-right: 20vw;
}
h2 {
  width: fit-content;
}
.cardlinks {
  text-decoration: underline;
}
.card-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 8px;
  padding-top: 2.5vh;
}
#into-text {
  padding-top: 5vh;
  font-size: x-large;
}
#komi {
  height: 50vh;
  aspect-ratio: 9 / 16;
}
.card {
  width: 33vw;
  background-color: rgb(25, 25, 25);
  padding: 1vw;
  border-radius: 40px;
  font-size: larger;
}
